/* ==========  CORE STYLE ========== */
  $RED: #945D60;
  $LIGHT_RED: #D1BCBE;
  $RED2: #E35664;
  $WHITE: #FFFFFF;
  $LIGHT_WHITE: #F9F9F9;
  $BLACK: #3B3B3B;
  $GRAY: #999999;
  $LIGHT_GRAY: #CCCCCC;
  $DARK_GRAY: #8B8B8B;
  $BORDER_COLOR: #EEEEEE;
  $TAG_BACKGROUND: #F1F1F1;
  $TRANSPARENT: rgba(0,0,0,0);
  $BORDER_RADIUS: 3px;
  $ADS_HEIGHT: 172;
  $ICON_SIZE: 30px;
  $COLOR_TEXT: #3C3C3C;
  $COLOR_BUTTON_TWITTER: #1DA1F2;
  $COLOR_BUTTON_FACEBOOK: #4267B2;
/* ========== CORE STYLE - END ========== */
