section-title {
  .line-center {
    margin: 0;
    padding: 0 10px;
    background: #fff;
    display: inline-block;
  }

  h3 {
    text-align: center;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-top: solid 1px #eee;
      z-index: -1;
    }
  }
}
