<ion-content>
  <div class="profile__container">
    <!-- Top Section -->
    <div class="profile__top-section" padding>
      <div class="profile_top-section__left">
        <button (click)="goBack()" *ngIf="navCtrl.canGoBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </div>
      <div class="profile_top-section__right">
        <button (click)="gotoDetail()" *ngIf="memberType == 1">
          <ion-icon ios="ios-settings-outline" md="md-settings"></ion-icon>
        </button>
      </div>
    </div>

    <!-- Main Content -->
    <div class="profile__main-content text-center">

      <!-- Member Avatar Image -->
      <div class="profile__member-avatar">
        <img class="avatar avatar__round avatar__medium" src="{{ avatarSrc }}" (error)="imageErrorHandling($event)"/>
      </div>


      <!-- Member Name -->
      <div class="profile__member-name">
        <h3>
          {{ userInfo.attributes.member_name ? userInfo.attributes.member_name: '' }}
        </h3>
        <button ion-button class="btn btn-default" *ngIf="memberType === 2">
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
          フォローする
        </button>
      </div>


      <!-- Member Social Network List -->
      <div class="profile__member-social-network">
        <button class="social-link" (click)="openSocial( userInfo.attributes.facebook_url )">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        </button>
        <button class="social-link" (click)="openSocial( userInfo.attributes.twitter_url )">
          <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
        </button>
        <button class="social-link" (click)="openSocial( userInfo.attributes.instagram_url )">
          <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
        </button>
      </div>

      <hr class="bg-white">


      <!-- Member Status -->
      <div class="profile__member-status">
        <p>
          {{ userInfo.attributes.note }}
        </p>
      </div>


      <!-- Right Action -->
      <div class="profile__right-action">
        <button (click)="goToProfilePage()">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </div>
    </div>
  </div>


  <!-- Tabs Controller -->
  <div class="profile-timeline__tab">
    <ion-segment [(ngModel)]="timelineTab" color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="posts">
        posts
      </ion-segment-button>
      <ion-segment-button value="followers">
        followers
      </ion-segment-button>
      <ion-segment-button value="following">
        following
      </ion-segment-button>
    </ion-segment>
  </div>


  <!-- Tab Content -->
  <!-- TODO - Make reuseable component of those lists below -->
  <div class="segments-content">
    <!-- List of recent posts -->
    <ion-list no-lines *ngIf="timelineTab == 'posts'">
      <button ion-item *ngFor="let item of items">
        {{ item }}
      </button>
    </ion-list>


    <!-- Follower List -->
    <ion-list no-lines *ngIf="timelineTab == 'followers'">
      <member-item *ngFor="let item of followers" [memberDetail]="item"></member-item>
    </ion-list>


    <!-- Following List -->
    <ion-list no-lines *ngIf="timelineTab == 'following'">
      <member-item *ngFor="let item of followings" [memberDetail]="item"></member-item>
    </ion-list>
  </div>

</ion-content>
