btn-facebook {
  .btn {
    width: 100%;
    height: 64px;
    border: none;
    box-shadow: none;
    border-radius: $BORDER_RADIUS;
  }

  .btn-facebook {
    background-color: $COLOR_BUTTON_FACEBOOK;
    text-transform: capitalize;
  }

  .icon {
    margin-right: 8px;
  }
}
